pipeline/lookup_foreach_copy data.json
{
	"name": "lookup_foreach_copy data",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "@pipeline().parameters.sp_Name",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_parameter",
						"type": "DatasetReference",
						"parameters": {
							"tableName_cloud": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							},
							"serverName_cloud": {
								"value": "@pipeline().parameters.serverName",
								"type": "Expression"
							},
							"dbName_cloud": {
								"value": "@pipeline().parameters.dbName",
								"type": "Expression"
							},
							"userName_cloud": {
								"value": "@pipeline().parameters.userName",
								"type": "Expression"
							},
							"pwd_cloud": {
								"value": "@pipeline().parameters.pwd",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "inputdataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "location_outputdataset",
									"type": "DatasetReference",
									"parameters": {
										"outoutfolder": {
											"value": "@string(item().folderName)",
											"type": "Expression"
										},
										"fileName": {
											"value": "@pipeline().parameters.fileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"serverName": {
				"type": "string"
			},
			"dbName": {
				"type": "string"
			},
			"userName": {
				"type": "string"
			},
			"pwd": {
				"type": "string"
			},
			"tableName": {
				"type": "string"
			},
			"sp_Name": {
				"type": "string"
			},
			"fileName": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-21T05:44:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}